h1 { text-align: center;
}

img { 
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: blue;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

#featured-property {
  width: 800px;
  text-align: center;
}

#details div {
  display: block;
  float: left;
}